.about-us-container {
  background-color: #1a1a1a;
  color: rgb(244, 240, 226);
  padding: 40px 20px;
  width: 100%;
  box-sizing: border-box;
}

.about-us,
.about-us-reverse {
  border-bottom: 1px solid rgba(244, 240, 226, 0.2);
}

.about-us-reverse {
  flex-direction: row-reverse;
}

.about-us-text-container,
.about-us-text {
  flex: 1;
  max-width: 50%;
  line-height: 1.6;
  margin: 0 5%;
}

.about-us-long-image {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.grid-container.about-us-square-section,
.about-us-square-image {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.about-us-long-image img {
  width: calc(50% - 15px);
}

.about-us-square-image img {
  width: calc(33.33% - 20px);
}

.about-us-list {
  text-align: center;
  list-style-type: disc;
  padding-left: 5px;
}

/* Laptop view (1024px to 1440px) */
@media (min-width: 768px) and (max-width: 1440px) {
  .about-us-container {
    padding: 50px 40px;
  }

  .about-us-long-image img {
    height: 500px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .about-us,
  .about-us-reverse {
    flex-direction: column;
    text-align: center;
    padding: 30px 0;
  }

  .about-us-text-container,
  .about-us-text {
    max-width: 100%;
  }

  .about-us-long-image,
  .about-us-square-image {
    width: 100%;
    justify-content: center;
    gap: 10px;
  }

  .about-us-long-image img {
    height: 500px;
    width: 100%;
  }

  .about-us-subtitle {
    padding-top: 1rem;
  }
}
