/* General Layout */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  color: white;
}

/* Banner Section */
.home-banner {
  background: url("../../assets/images/Home/home-banner.jpg") no-repeat left
    center/cover;
  color: white;
  position: relative;
  height: 600px;
  width: 100vw;
}

.banner-content {
  max-width: 800px;
  padding: 8% 5% 1%;
}

.banner-content h1 {
  text-align: start;
  line-height: 1.2;
  color: white;
}

.review-avatars,
.stats,
.home-services .title,
.home-services .row {
  display: flex;
  align-items: center;
}

/* Reviews Section */
.reviews-section.flex-container {
  margin: 10px 0;
  padding: 40px 40px 10px;
  justify-content: flex-start;
}

.review-avatars img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}

.stars {
  color: #f8da3c;
}

.stats {
  justify-content: space-around;
  margin-top: 20px;
}

.home-content-image {
  width: 40%;
}

.home-content-image img,
.offering,
.reason,
.home-services .table {
  width: 100%;
}

.home-content-image img {
  height: 75%;
  object-fit: cover;
  border-radius: 250px 250px 0 0;
  overflow: hidden;
}

.home-intro {
  width: 60%;
}

.home-intro h2 {
  color: #f8da3c;
}

/* Offerings & Reasins Section */
.offerings,
.reasons {
  flex-wrap: wrap;
}

.offering,
.reason {
  max-width: 300px;
}

/* Services Section */
.home-services.flex-container {
  flex-direction: column;
  padding-top: 1%;
  padding-bottom: 0;
  background-color: rgb(244, 240, 226);
}

.home-services .title {
  flex-direction: column;
}

.home-services h3 {
  color: black;
}

.home-services .row {
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid gray;
}

.home-services .row .price {
  color: #f8da3c;
}

.home-transform {
  display: inline-block flex;
  justify-content: center;
  align-items: center;
}

.home-transform p {
  color: black;
}

/* FAQ Section */
.faq {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #1a1a1a;
  color: white;
}

.questions-rows {
  list-style-type: none;
  padding: 0;
}

.question-row {
  margin: 1rem 0;
  cursor: pointer;
}

.question-title {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-arrow {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.dropdown-hidden {
  display: none;
}

.dropdown-active {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #ccc;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
  .home-banner {
    height: 450px;
  }

  .review-avatars img {
    width: 35px;
    height: 35px;
  }

  .home-content-image,
  .home-intro,
  .offering,
  .reason,
  .home-services .table {
    width: 100%;
  }

  .offering,
  .reason {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .home-transform,
  .home-services .row {
    padding: 12px 0;
  }
}

/* Media Query for Phones */
@media (max-width: 480px) {
  .home-banner {
    height: 450px;
  }

  .review-avatars img {
    width: 30px;
    height: 30px;
  }

  .home-content-image img {
    width: 90%;
    margin: 0 auto;
  }

  .home-content-image,
  .home-intro {
    width: 100%;
    padding: 10px;
  }

  .home-transform {
    padding: 10%;
  }
}
